[submodule "radio/hardware-sch-blocks"]
	path = radio/hardware-sch-blocks
	url = git@github.com:calstar/hardware-sch-blocks.git
[submodule "core/hardware-sch-blocks"]
	path = core/hardware-sch-blocks
	url = git@github.com:calstar/hardware-sch-blocks.git
